blinker
click
celery
colorama
Flask
Flask-SQLAlchemy
Flask-JWT-Extended
google-cloud-pubsub
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
moviepy
psycopg2-binary
PyJWT
redis
Werkzeug
zipp