blinker
click
celery
colorama
python-dotenv
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-JWT-Extended
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
moviepy
psycopg2-binary
PyJWT
redis
Werkzeug
zipp