<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- Agregar esta parte al inicio del archivo para mostrar mensajes flash -->

<h1>Welcome, {{ username }} - {{id_user}}</h1>
<h2>Your Tasks by ID:</h2>
<ul>
   
    <li>{{ task }}</li>
    
</ul>

<table border="1">
    <thead>
    <tr>
        <th>User</th>
        <th>Id Task</th>
        <th>Original Filename</th>
        <th>Converted Filename</th>
        <th>Conversion Format</th>
        <th>Status</th>
        <th>Timestamp</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
   
    <tr>
        <td>{{ session['username'] }}</td>
        <td>{{ task.id }}</td>
        <td><a href="{{ url_for('download_file', filename=task.original_filepath.split('/')[-1]) }}">{{ task.original_filename }}</a></td>
        <td><a href="{{ url_for('download_file', filename=task.converted_filepath.split('/')[-1]) }}">{{ task.converted_filename }}</a></td>
        <td>{{ task.conversion_format }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>
            <button class="delete-task" data-task-id="{{ task.id }}">Delete</button>
        </td>
    </tr>
    </tbody>
    
</table>


<a href="/logout">Logout</a>

<script>
    function startUpload() {
        document.getElementById('progress').style.display = 'block';
        var form = document.forms[0];
        var fileInput = form.elements.file;
        var formData = new FormData(form);

        var progressBar = document.getElementById('progressbar');
        var progressLabel = document.getElementById('progress-label');

        var interval = setInterval(function () {
            if (progressBar.value < 100) {
                progressBar.value += 10;
                progressLabel.textContent = progressBar.value + '%';
            } else {
                clearInterval(interval);
                progressLabel.textContent = 'Complete';
            }
        }, 1000);

        return false;
    }


    // Cuando se hace clic en un botón de eliminación
    $('.delete-task').click(function() {
        var taskId = $(this).data('task-id');
        console.log('Delete button clicked for task ID: ' + taskId);
        // Realiza una solicitud DELETE utilizando AJAX
        $.ajax({
            url: '/tasks/' + taskId,
            type: 'DELETE',
            success: function(data) {
                // Maneja la respuesta exitosa del servidor
                alert('Tarea eliminada correctamente');
                window.location.href = '/tasks';
            },
            error: function(error) {
                // Maneja cualquier error que pueda ocurrir
                alert('Error al eliminar la tarea: ' + error.responseText);
            }
        });
    });

</script>
</body>
</html>
